p {
  font-size: 30px;
}

svg.mermaid-js {
  max-width: 100% !important;
  width: 100% !important;
}

/* Ocultar todas las leyendas de figuras en RevealJS */
p.caption {
  display: none !important;
}


.slides li::marker {
  color: #36499d;
  font-size: .8em; /* Ajusta este valor para el tamaño del círculo */
}

.slides code {
  font-size: .7em;
}

/* Forzar que los títulos de las slides sean negros */
.slides h1,
.slides h2,
.slides h3,
.slides h4 {
  color: #36499d !important;
}

.slides h1 {
  font-size: 1.5em;
}

.slides h2 {
  font-size: 1.2em;
}

.slides .centrado {
  text-align: center !important;
}

.quarto-title-authors {
  display: none!important;
}

body {
  color: #333;
}

.MathJax {
  color: #333;
}
